* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

.container-body {
	width: 90%;
	height: 180;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 1px solid black;	
	background-color: #FFAAFF;
}

.row {
	width: 100%;
}

.container-header {
	position: relative;
	width: 50px;
	height: 50px;
	left: 200px;
	margin-right: auto;
	margin-left: auto;
	background-color: #1E73bE;
}

@media (min-width: 992px)
{
	.col-lg-4, .col-lg-12 {
		float: left;	
	}

	.col-lg-4 {
		width: 33%;
	}

	.col-lg-12 {
		width: 100%;
	}

}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-6, .col-md-12 {
		float: left;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px)
{
	
}