* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

p {
	width: 90%;
	height: 200px;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 1px solid black;	
	background-color: #1e73be;
}

.row {
	width: 100%;
}

@media (min-width: 992px)
{
	.col-lg-4, .col-lg-12 {
		float: left;
		margin-left: 10px;		
	}

	.col-lg-4 {
		width: 33%;
	}

	.col-lg-12 {
		width: 100%;
	}

}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-6, .col-md-12 {
		float: left;			
		margin-left: 10px;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px)
{
	
}